.index {
  width: 60%;
  height: 600px;
  margin: 0 auto;
}

.index-head {
  width: 100%;
  height: 5vmin;
  background: blue;
  text-align: center;
  line-height: 5vmin;
  color: #fff;
  border-radius: 1vmin;
  font-size: 3.5vmin;
}

input {
  width: 94%;
  height: 5vmin;
  border-radius: 1vmin;
  outline: none;
  font-size: 3vmin;
}

button {
  display: inline-block;
  width: 6vmin;
  height: 6vmin;
  border-radius: 1vmin;
  font-size: 2vmin;
  margin: 0 auto;
  outline: none;
}

ul {
  list-style: none;
  width: 100%;
  padding:0;
}

li {
  width: 100%;
}

.dul {
  width: 100%;
  height: 70vmin;
  border: 1px solid red;
}

span {
  display: inline-block;
}

.name {
  padding: 0 1vmin;
  display: block;
}

.img {
  width: 4vmin;
  height: 4vmin;
  margin: 1vmin 0 0 0;
}

.neir {
  display: inline-block;
  vertical-align:text-top ;
  white-space: wrap;
  background: #e8e8e8;
  min-width: 4vmin;
  max-width: 25vmin;
  word-break:break-all;
  padding: .5vmin;
}

.ullist {
  width: 19vmin;
  height: 600px;
  border: 1px solid red;
  padding: 0;
  margin: 0;
  top: 0;
  left: -19vmin;
  border-radius: 1vmin;
}

li {
  width: 100%;
}

.ullist > li:nth-child(1) {
  height: 6vmin;
  border-bottom: 3px solid #000;
  padding-bottom: 1vmin;
}

.ullist > li > span:nth-child(1) {
  width: 4vmin;
  height: 4vmin;
  border-radius: 1vmin ;
  overflow: hidden;
  margin: 1vmin 0 0 1vmin;
}

.ullist > li > span:nth-child(2) {
  padding: .2vmin .5vmin;
  vertical-align:text-bottom ;
}

.limy > div {
  float: right;
}


